:root{
    --color-primary: blue;
    --bg-dark: #141414;
    --bg-card:#555;
    --text-color:#fff;
    --bg-rgba:rgba(0,0,0,0.8);
    --btn-color:#00ff88;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg-dark);
    color:var(--text-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: var(--bg-rgba);
}
.logo{
    font-size: 1.54rem;
    font-weight: 700;
    text-transform: uppercase;
}
.logo span{
    color:var(--btn-color);
    padding: 10px;
}
nav ul {
    display:  flex;
    list-style: none;
}
nav ul li {
    padding: 0 15px;
}
nav ul li a{
    color: var(--text-color);
    text-decoration: none;
}
nav ul li a:hover{
    color:var(--btn-color);
    text-decoration: underline;
    text-transform: uppercase;   
}